{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container h-75">
    <div class="row h-75 text-center">
        <div class="col-12 my-auto">
            <h3 class="text-white font-wight-bold bg-opaque mx-auto">Your one stop shop for eveything controller</h3>
        </div>
        <div class="col-12 col-md-4">
            <a class="big-shop-btn btn-purple neon-glow text-uppercase font-weight-bold" href="{% url 'products' %}?console=playstation_1,playstation_2,playstation_3,playstation_4,saturn,megadrive,dreamcast,nintendo_64,gamecube,nes,snes,switch,xbox_original,xbox_360,xbox_one&category=controllers" role="button">Controllers</a>
        </div>
        <div class="col-12 col-md-4">
            <a class="big-shop-btn btn-purple neon-glow text-uppercase font-weight-bold" href="{% url 'products' %}?console=playstation_1,playstation_2,playstation_3,playstation_4,saturn,megadrive,dreamcast,nintendo_64,gamecube,nes,snes,switch,xbox_original,xbox_360,xbox_one&category=parts" role="button">Parts</a>
        </div>
        <div class="col-12 col-md-4">
            <a class="big-shop-btn btn-purple neon-glow text-uppercase font-weight-bold" href="{% url 'products' %}?category=tools" role="button">Tools</a>
        </div>
    </div>
</div>


<div class="container-fluid px-0 neon-banner-inv">
    <div class="bg-dark-sec">
        <div class="container callout-container">
            <div class="row">
                <div class="col-12 py-3">
                    <h3 class="text-magenta text-center">Why Use nu<strong>TROLLA</strong>?</h3>
                </div>
            </div>
            <div class="row bg-purple rounded callout-card mx-auto">
                    <h3 class="d-none d-md-block col-md-2 text-white text-center my-auto"><strong>1</strong></h3>
                    <div class="col-xs-12 col-md-10 text-white text-left"><p>We supply our customers with 1<sup>st</sup> party refurbished controllers,
                    bringing old tech back to spotless condition, you are also helping reducing electronic waste on our planet</p></div>
            </div>
            <div class="row bg-purple-sec rounded callout-card mx-auto">
                <div class="col-xs-12 col-md-10 text-white text-left"><p>We only stock A-grade parts, from analogue sticks, to complete shells, and even batteries.
                    Everything you need to bring a controller back to life, or even customise it</p>
                    
                </div>
                <h3 class="d-none d-md-block col-md-2 text-white text-center my-auto"><strong>2</strong></h3>
            </div>
            <div class="row bg-purple-ter rounded callout-card mx-auto">
                <h3 class="d-none d-md-block col-md-2 text-white text-center my-auto"><strong>3</strong></h3>
                <div class="col-xs-12 col-md-10 text-white text-left"><p>Free delivery on all items, and 1 year warranty is issued on all controllers, so if there are any issues, 
                    send it back for a hassle free exchange</p></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}