{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-90">
    <div class="row h-90 text-center">
        <div class="col-12 col-md-4 my-auto">
            <a class="big-shop-btn btn-purple neon-glow text-uppercase" href="#" role="button">Controllers</a>
        </div>
        <div class="col-12 col-md-4 my-auto">
            <a class="big-shop-btn btn-purple neon-glow text-uppercase" href="#" role="button">Parts</a>
        </div>
        <div class="col-12 col-md-4 my-auto">
            <a class="big-shop-btn btn-purple neon-glow text-uppercase" href="#" role="button">Repair</a>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="neon-banner-inv"></div>
</div>
<div class="container-fluid px-0">
    <div class="bg-dark-pri">
        <div class="container callout-container">

            <div class="row">
                <div class="col-12 py-3">
                    <h3 class="text-magenta text-center">Why Use nu<strong>TROLLA</strong>?</h3>
                </div>
            </div>

            <div class="row bg-purple rounded callout-card mx-auto">
                    <h3 class="col-2 text-white text-center my-auto"><strong>1</strong></h3>
                    <div class="col-10 text-white text-left">Our refurbished controllers are 100% genuine, and brought back to like new condition</div>
            </div>

            <div class="row bg-purple-sec rounded callout-card mx-auto">
                <h3 class="col-2 text-white text-center my-auto"><strong>2</strong></h3>
                <div class="col-10 text-white text-left">We only stock A-grade parts, so you can bring controllers back to life in DIY fashion</div>
            </div>

            <div class="row bg-purple-ter rounded callout-card mx-auto">
                <h3 class="col-2 text-white text-center my-auto"><strong>3</strong></h3>
                <div class="col-10 text-white text-left">1 year warranty is issued on all controllers, so if there are any issues, send it back for a hassled free exchange</div>
            </div>
        </div>

    </div>
</div>
{% endblock %}