<!-- This code was copied from Code Institutes, Botique Ado Mini Project, I've adapted the handleEnableDisable to check for stock level -->
<script type="text/javascript">

    //  Disable -/+ buttons outside ranges of 1-99 or if currentValue above stockLevel
    function handleEnableDisable(itemId, stockLevel) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98 || currentValue > (stockLevel - 1);
        
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Check all inputs on page load, ensures proper enabling/disabling
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        var stockLevel = $(allQtyInputs[i]).attr('max');
        handleEnableDisable(itemId, stockLevel);
    }

    // Check enable/disable everytime the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment qty by 1 when plus button is pressed
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var stockLevel = $(closestInput).attr('max');
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId, stockLevel);
    });

    //  Decrement the qty by 1 when the minus button is pressed
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var stockLevel = $(closestInput).attr('max');
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId, stockLevel);
    });
</script>