.order-history {
<<<<<<< HEAD
    max-height: 25rem;
=======
    max-height: 50rem;
>>>>>>> f9377b1d9e53e98a9df72ba77da581a014a2e836
    overflow-y: auto;
}

.profile-form-input::placeholder {
    color: #aab7c4
}

.profile-form-input .form-control {
    color: #000
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000
}

#id_default_country,
#id_default_country option:first-child {
    color: #aab7c4
}