html {
    height: 100%;
}

body {
    background: url('/media/vaporwave-bg.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none !important;
}

.h-90 {
    height: 90% !important;
}

.callout-container {
    padding-bottom: 3rem;
}

/* ---------- Special effects ---------- */
.neon-glow {
    background: linear-gradient(#F6019D, rgba(255, 255, 255, 0));   
}

.neon-banner {
    background: linear-gradient(#F6019D, rgba(255, 255, 255, 0));
    height: 3rem;
    width:100%;
    padding: 0;
}

.neon-banner-inv {
    background: linear-gradient(rgba(255, 255, 255, 0), #F6019D);
    height: 3rem;
    width:100%;
    padding: 0;
}

.callout-card {
    max-width: 40rem;
    margin-top: 2rem;
    padding: 1rem;
}

/* ---------- Background colours ---------- */
.bg-dark-pri {
    background: #241734 !important;
}

.bg-dark-sec {
    background: #2E2157 !important;
}

.bg-purple {
    background: #791E94 !important;
}

.bg-purple-sec {
    background: #541388 !important;
}

.bg-purple-ter {
    background: #540D6E !important;
}

.bg-opaque {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    width: fit-content;
    border-radius: 1rem;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}


/* ---------- From Bulma, keeps icons aligned and sized consistently ---------- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ---------- Link/Btn Styles ---------- */
.main-logo-link {
    width: fit-content;
}

nav a,
header a,
footer a {
    color: #F6019D !important;
}

.dropdown-menu {
    background-color: #241734;
}

.dropdown-menu:hover a,
.dropdown-menu:active a,
.dropdown-menu:focus a {
    background-color: #241734 !important;
}

nav a:hover,
header a:hover,
footer a:hover {
    color: #920075 !important;
}

.btn-purple {
    color: #fff !important;
    background-color: #791E94;
    border-color: #791E94;
}

.btn-outline-purple {
    color: #791E94 !important;
    background-color: #fff;
    border: 1px solid #791E94;
}

.big-shop-btn {
    text-align: center;
    padding: 15% 20%;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 40% 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, border-radius .15s ease-in-out, box-shadow .15s ease-in-out;
}

.big-shop-btn:hover {
    border-radius: 0 40%;
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    color: #fff !important;
    background-color: #540D6E;
    border-color: #F6019D;
}

.btn-outline-purple:hover,
.btn-outline-purple:active,
.btn-outline-purple:focus {
    color: #fff !important;
    background-color: #791E94;
    border: 1px solid #F6019D;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

.border-purple {
    border: 1px solid #791E94 !important
}

.category-badge > .text-magenta:hover {
    color: #920075 !important;
}


/* ---------- Text Styles ---------- */
.logo-font {
    text-transform: uppercase;
}

.text-purple {
    color: #791E94 !important;
}

.text-purple-sec {
    color: #541388 !important;
}

.text-purple-ter {
    color: #540D6E !important;
}

.text-magenta {
    color: #F6019D !important;
}

.text-magenta-sec {
    color: #D40078 !important;
}

.text-magenta-ter {
    color: #920075 !important;
}

.text-yellow {
    color: #F9C80E !important;
}

.text-yellow:hover {
    color: #b6910c !important;
}

/* ---------- MEDIA QUERIES - Code copied and adapted from Code Insitute, learning material ---------- */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 845px) {
    .big-shop-btn{
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }

    .big-shop-btn:hover{
        padding: .5rem 1rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: .3rem;
    }
}

/* Pad the top of page when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

}
