<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=controllers,parts,tools&sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=controllers,parts,tools&sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?category=controllers,parts,tools&console=playstation_1,playstation_2,playstation_3,playstation_4,
                                                       xbox_original,xbox_360,xbox_one,nintendo_64,gamecube,nes,snes,switch,saturn,megadrive,
                                                       dreamcast&sort=console&direction=asc" class="dropdown-item">By Console</a>
                <a href="{% url 'products' %}?category=controllers,parts,tools" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="controllers-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Controllers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="controllers-link">
                <a href="{% url 'products' %}?console=playstation_1,playstation_2,playstation_3,playstation_4&category=controllers" class="dropdown-item">Playstation</a>
                <a href="{% url 'products' %}?console=xbox_original,xbox_360,xbox_one&category=controllers" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?console=nintendo_64,gamecube,nes,snes,switch&category=controllers" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?console=saturn,megadrive,dreamcast&category=controllers" class="dropdown-item">Sega</a>
                <a href="{% url 'products' %}?console=playstation_1,playstation_2,playstation_3,playstation_4,saturn,megadrive,
                                                      dreamcast,nintendo_64,gamecube,nes,snes,switch,xbox_original,xbox_360
                                                      ,xbox_one&category=controllers" class="dropdown-item">All Controllers</a>
            </div>
        </li>

        <li class="nav-item dropdown text-magenta">
            <a href="" class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="parts-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Parts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="parts-link">
                <a href="{% url 'products' %}?console=playstation_1,playstation_2,playstation_3,playstation_4&category=parts" class="dropdown-item">Playstation</a>
                <a href="{% url 'products' %}?console=xbox_original,xbox_360,xbox_one&category=parts" class="dropdown-item">Xbox</a>
                <a href="{% url 'products' %}?console=nintendo_64,gamecube,nes,snes,switch&category=parts" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?console=saturn,megadrive,dreamcast&category=parts" class="dropdown-item">Sega</a>
                <a href="{% url 'products' %}?console=playstation_1,playstation_2,playstation_3,playstation_4,saturn,megadrive,
                                                      dreamcast,nintendo_64,gamecube,nes,snes,switch,xbox_original,xbox_360,
                                                      xbox_one&category=parts" class="dropdown-item">All Parts</a>
            </div>
        </li>

        <li class="nav-item text-magenta">
            <a href="{% url 'products' %}?category=tools" class="logo-font font-weight-bold nav-link text-black mr-5"id="parts-link">
                Tools
            </a>
        </li>
    </ul>
</div>