 
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

    <h2 class="logo-font mb-4  text-center">{% trans "Change Password" %}</h2>
    <hr>

<div class="purple-form-container">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="text-center">
        {% if user.is_authenticated %}
        <a class="btn btn-outline-purple rounded" href="{% url 'profile' %}">Back to Profile</a>
        {% else %}
        <a class="btn btn-outline-purple rounded" href="{% url 'account_login' %}">Back to Login</a>
        {% endif %}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}