{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    {% endblock %}

    {% block extrameta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extracss %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>nuTROLLA {% block extra_title %}{% endblock %}</title>

</head>

<body>

    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-dark-pri pt-lg-2 d-none d-lg-flex">
            
            <div class="col-12 col-lg-4 my-auto py-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="my-0">
                        nu<strong>TROLLA</strong>
                    </h2>
                </a>
            </div>

            <div class="col-12 col-lg-4 my-auto py-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-purple rounded-0" type="text" name="q"
                            placeholder="Search Our Store">
                        <div class="inout-group-append">
                            <button class="form-control btn-purple border border-purple rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-lg-4 my-auto py-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a href="#" class=" nav-link" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                    </li>
                    
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}" class="{% if grand_total %}text-yellow font-weight-bold{% else %}{% endif %} nav-link">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="row bg-dark-sec">
            <nav class="navbar navbar-expand-lg navbar-dark w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" 
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        
        <div class="row">
            <div class="neon-banner"></div>
        </div>
        
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Footer, this whole footer is adapted from https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
<footer class="page-footer font-small bg-dark-pri pt-4 text-magenta">

    <div class="container-fluid text-center text-md-left">
      <div class="row">
  
        <div class="col-md-6 mt-md-0 mt-3">
  
          <h5 class="text-uppercase">About Us</h5>
          <p>nuTROLLA specializes in refurbishment of Video Game Controllers, 
              our aim is to get these controllers back into use and 
              reduce electronical waste on our planet.</p>
        </div>
        
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <div class="col-md-3 mb-md-0 mb-3">
  
          <h5 class="text-uppercase">Information</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Returns</a>
            </li>
            <li>
              <a href="#!">T&amp;C's</a>
            </li>
            <li>
              <a href="#!">Repairs</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
          </ul>
  
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>
        </div>
        
      </div>
      
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://github.com/tenbonks" target="blank"> TenBonks</a>
    </div>
    
  </footer>
  <!-- Footer -->

    {% block postload_js %}
    {% endblock %}

</body>

</html>