/* 
    All .Stripe styles come from: 
    https://stripe.com/docs/stripe-js
*/
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #aab7c4;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus,
  .stripe-style-input:focus,
  .stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .stripe-style-input::placeholder {
    color: #aab7c4;
  }
  .stripe-style-input::placeholder:invalid {
    color: #dc3545;
    border-color: #dc3545;
  }
  
  .StripeElement--invalid
   {
    border-color: #dc3545;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }