{% extends 'base.html' %}
{% load static %}


{% block extra_title %} | Add a Product{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container pt-3">

    <div class="row">
        <div class="col-12 offset-lg-3 col-lg-6 text-center">
            <h2 class="logo-font mb-4">
                Product Management
            </h2>
            <h5 class="text-muted">Add a Product</h5>
            <hr>
        </div>
    </div>

    
    <div class="row">
        <div class="col-12 offset-lg-3 col-lg-6">
            <div class="purple-form-container">
                <form class="form my-3" action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != "image" %}
                    <!-- if not image, render form label -->
                        {{ field | as_crispy_field}}
                    {% else %}
                    <div class="col-12 text-center">
                        {{ field }}
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="text-center">
                    <a class="btn btn-outline-purple rounded" href="{% url 'products' %}?category=controllers,parts,tools">Cancel</a>
                    <button class="btn btn-purple rounded" type="submit">Add Product</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    

</div>

{% endblock %}


{% block postload_js %}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0]
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
